/*
Template Name: Minible - Responsive Bootstrap 4 Admin Dashboard
Author: Themesbrand
Version: 1.0.0
Website: https://themesbrand.com/
Contact: themesbrand@gmail.com
File: Main dark Css File
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 250px;
  z-index: 1002;
  background-color: #2d313e;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12); }

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 calc(20px / 2) 0 0; }
  .navbar-header .dropdown.show .header-item {
    background-color: #212529; }
  .navbar-header .navbar-brand-box {
    display: none; }

body.vertical-collpsed #page-topbar {
  left: 70px; }

body:not(.vertical-collpsed) .navbar-header .vertical-menu-btn {
  display: none; }

body:not(.vertical-collpsed) .app-search {
  margin-left: 10px; }

.navbar-brand-box {
  padding: 0 1.5rem;
  width: 250px;
  position: fixed;
  z-index: 1;
  background-color: #2b2e3b; }

.logo {
  line-height: 70px; }
  .logo .logo-sm {
    display: none; }

.logo-dark {
  display: none; }

.logo-light {
  display: block; }

/* Search */
.app-search {
  padding: calc(32px / 2) 0; }
  .app-search .form-control {
    border: none;
    height: 38px;
    padding-left: 40px;
    padding-right: 20px;
    background-color: #2d313e;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 5px; }
  .app-search span {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    line-height: 38px;
    left: 13px;
    top: 0;
    color: #c3cbe4; }

.megamenu-list li {
  position: relative;
  padding: 5px 0px; }
  .megamenu-list li a {
    color: #9295a4; }

@media (max-width: 991.98px) {
  .navbar-brand-box {
    width: auto; }
  #page-topbar {
    left: 0; }
    #page-topbar .navbar-header .navbar-brand-box {
      display: inline-block;
      position: relative; }
    #page-topbar .navbar-header .vertical-menu-btn {
      display: inline-block; }
  .logo span.logo-lg {
    display: none; }
  .logo span.logo-sm {
    display: inline-block; } }

.page-content {
  padding: calc(70px + 20px) calc(20px / 2) 60px calc(20px / 2); }

.header-item {
  height: 70px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #a6b0cf;
  border: 0;
  border-radius: 0px; }
  .header-item:hover {
    color: #a6b0cf; }

.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: #343747;
  padding: 3px; }

.noti-icon i {
  font-size: 22px;
  color: #a6b0cf; }

.noti-icon .badge {
  position: absolute;
  top: 12px;
  right: 5px; }

.notification-item .media {
  padding: 0.75rem 1rem; }
  .notification-item .media:hover {
    background-color: #343747; }

.dropdown-icon-item {
  display: block;
  border-radius: 3px;
  line-height: 34px;
  text-align: center;
  padding: 15px 0 9px;
  display: block;
  border: 1px solid transparent;
  color: #c3cbe4; }
  .dropdown-icon-item img {
    height: 24px; }
  .dropdown-icon-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dropdown-icon-item:hover {
    border-color: #2b2e3b; }

.fullscreen-enable [data-toggle="fullscreen"] .uil-minus-path::before {
  content: '\eb8d'; }

body[data-topbar="dark"] #page-topbar {
  background-color: #f07e0a; }

body[data-topbar="dark"] .navbar-header .dropdown.show .header-item {
  background-color: rgba(255, 255, 255, 0.05); }

body[data-topbar="dark"] .navbar-header .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

body[data-topbar="dark"] .header-item {
  color: #e9ecef; }
  body[data-topbar="dark"] .header-item:hover {
    color: #e9ecef; }

body[data-topbar="dark"] .header-profile-user {
  background-color: rgba(255, 255, 255, 0.25); }

body[data-topbar="dark"] .noti-icon i {
  color: #e9ecef; }

body[data-topbar="dark"] .logo-dark {
  display: none; }

body[data-topbar="dark"] .logo-light {
  display: block; }

body[data-topbar="dark"] .app-search .form-control {
  background-color: #6d82eb;
  color: #fff; }

body[data-topbar="dark"] .app-search span,
body[data-topbar="dark"] .app-search input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

body[data-sidebar="dark"] .navbar-brand-box {
  background: #2b2e3b; }
  body[data-sidebar="dark"] .navbar-brand-box .logo-dark {
    display: none; }
  body[data-sidebar="dark"] .navbar-brand-box .logo-light {
    display: block; }

@media (max-width: 600px) {
  .navbar-header .dropdown {
    position: static; }
    .navbar-header .dropdown .dropdown-menu {
      left: 10px !important;
      right: 10px !important; } }

@media (max-width: 380px) {
  .navbar-brand-box {
    display: none; } }

body[data-layout="horizontal"] .page-content {
  margin-top: 70px;
  padding: calc(80px + 20px) calc(20px / 2) 60px calc(20px / 2); }
  @media (max-width: 991.98px) {
    body[data-layout="horizontal"] .page-content {
      margin-top: 0px; } }

@media (max-width: 374.99px) {
  .navbar-brand-box {
    padding: 0 1rem; }
  .language-switch {
    display: none !important; } }

.page-title-box {
  padding-bottom: 20px; }
  .page-title-box .breadcrumb {
    background-color: transparent;
    padding: 0; }
  .page-title-box h4 {
    font-weight: 600;
    font-size: 18px !important; }
  @media (max-width: 575.98px) {
    .page-title-box .page-title-right {
      display: none; } }

.footer {
  bottom: 0;
  padding: 20px calc(20px / 2);
  position: absolute;
  right: 0;
  color: #898fa9;
  left: 250px;
  height: 60px;
  -webkit-box-shadow: 0 0px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 0px 4px rgba(15, 34, 58, 0.12); }

@media (max-width: 992px) {
  .footer {
    left: 0; } }

.vertical-collpsed .footer {
  left: 70px; }

body[data-layout="horizontal"] .footer {
  left: 0 !important; }

.right-bar {
  background-color: #2b2e3b;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  display: block;
  position: fixed;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  width: 280px;
  z-index: 9999;
  float: right !important;
  right: -290px;
  top: 0;
  bottom: 0; }
  .right-bar .right-bar-toggle {
    background-color: white;
    height: 24px;
    width: 24px;
    line-height: 24px;
    color: #2b2e3b;
    text-align: center;
    border-radius: 50%; }
    .right-bar .right-bar-toggle:hover {
      background-color: white; }

.rightbar-overlay {
  background-color: rgba(239, 242, 247, 0.55);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.right-bar-enabled .right-bar {
  right: 0; }

.right-bar-enabled .rightbar-overlay {
  display: block; }

@media (max-width: 767.98px) {
  .right-bar {
    overflow: auto; }
    .right-bar .slimscroll-menu {
      height: auto !important; } }

.metismenu {
  margin: 0; }
  .metismenu li {
    display: block;
    width: 100%; }
  .metismenu .mm-collapse {
    display: none; }
    .metismenu .mm-collapse:not(.mm-show) {
      display: none; }
    .metismenu .mm-collapse.mm-show {
      display: block; }
  .metismenu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .35s;
            transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility; }

.vertical-menu {
  width: 250px;
  z-index: 1005;
  background: #2b2e3b;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12); }
  .vertical-menu .vertical-menu-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }

.main-content {
  margin-left: 250px;
  overflow: hidden; }
  .main-content .content {
    padding: 0 15px 10px 15px;
    margin-top: 70px; }

.sidebar-menu-scroll {
  height: calc(100% - 70px);
  margin-top: 70px; }

#sidebar-menu {
  padding: 10px 0 30px 0; }
  #sidebar-menu .mm-active > .has-arrow:after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  #sidebar-menu .has-arrow:after {
    content: "\F0140";
    font-family: 'Material Design Icons';
    display: block;
    float: right;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    font-size: 1rem; }
  #sidebar-menu ul li a {
    display: block;
    padding: .6rem 1.1rem;
    color: #898fa9;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin: 0 10px;
    border-radius: 3px; }
    #sidebar-menu ul li a i {
      display: inline-block;
      min-width: 1.5rem;
      padding-bottom: .125em;
      font-size: 1.05rem;
      line-height: 1.40625rem;
      vertical-align: middle;
      color: #666b7f;
      -webkit-transition: all .4s;
      transition: all .4s; }
    #sidebar-menu ul li a:hover {
      color: #f07e0a; }
      #sidebar-menu ul li a:hover i {
        color: #f07e0a; }
  #sidebar-menu ul li .badge {
    margin-top: 4px; }
  #sidebar-menu ul li ul.sub-menu {
    padding: 0; }
    #sidebar-menu ul li ul.sub-menu li a {
      padding: .4rem 1.5rem .4rem 3.5rem;
      font-weight: 400;
      color: #7b8198;
      margin: 0;
      background-color: transparent;
      font-size: 14.4px; }
      #sidebar-menu ul li ul.sub-menu li a:hover {
        color: #f07e0a; }
    #sidebar-menu ul li ul.sub-menu li ul.sub-menu {
      padding: 0; }
      #sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
        padding: .4rem 1.5rem .4rem 4.5rem;
        font-size: 13.5px; }

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: #666b7f;
  font-weight: 600; }

.mm-active {
  color: #f07e0a !important; }
  .mm-active > a {
    background-color: #34415d; }
  .mm-active .active {
    color: #f07e0a !important; }
    .mm-active .active i {
      color: #f07e0a !important; }
  .mm-active > i {
    color: #f07e0a !important; }

@media (max-width: 992px) {
  .vertical-menu {
    display: none;
    top: 70px; }
    .vertical-menu .sidebar-menu-scroll {
      height: 100%;
      margin-top: 0; }
    .vertical-menu .navbar-brand-box,
    .vertical-menu .vertical-menu-btn {
      display: none; }
  .main-content {
    margin-left: 0 !important; }
  body.sidebar-enable .vertical-menu {
    display: block; } }

@media (min-width: 769px) {
  .vertical-collpsed {
    min-height: 1450px; } }

.vertical-collpsed .main-content {
  margin-left: 70px; }

.vertical-collpsed .navbar-brand-box {
  width: 70px !important; }

.vertical-collpsed .logo span.logo-lg {
  display: none; }

.vertical-collpsed .logo span.logo-sm {
  display: block; }

.vertical-collpsed .vertical-menu {
  position: absolute;
  width: 70px !important;
  z-index: 1001; }
  .vertical-collpsed .vertical-menu .simplebar-mask,
  .vertical-collpsed .vertical-menu .simplebar-content-wrapper {
    overflow: visible !important; }
  .vertical-collpsed .vertical-menu .simplebar-scrollbar,
  .vertical-collpsed .vertical-menu .vertical-menu-btn {
    display: none !important; }
  .vertical-collpsed .vertical-menu .simplebar-offset {
    bottom: 0 !important; }
  .vertical-collpsed .vertical-menu #sidebar-menu .menu-title,
  .vertical-collpsed .vertical-menu #sidebar-menu .badge,
  .vertical-collpsed .vertical-menu #sidebar-menu .collapse.in {
    display: none !important; }
  .vertical-collpsed .vertical-menu #sidebar-menu .nav.collapse {
    height: inherit !important; }
  .vertical-collpsed .vertical-menu #sidebar-menu .has-arrow:after {
    display: none; }
  .vertical-collpsed .vertical-menu #sidebar-menu > ul > li {
    position: relative;
    white-space: nowrap; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a {
      padding: 15px 0;
      -webkit-transition: none;
      transition: none; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:hover, .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:active, .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:focus {
        color: #f07e0a; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
        font-size: 1.3rem;
        text-align: center;
        min-width: 50px;
        padding-bottom: 0; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a span {
        display: none;
        padding-left: 25px; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
      position: relative;
      width: calc(180px + 70px);
      color: #f07e0a;
      background-color: #34415d;
      -webkit-transition: none;
      transition: none;
      -webkit-box-shadow: inset 0 3px 10px 0 rgba(154, 161, 171, 0.2);
              box-shadow: inset 0 3px 10px 0 rgba(154, 161, 171, 0.2); }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
        color: #f07e0a; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a span {
        display: inline; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul {
      display: block;
      left: 70px;
      position: absolute;
      width: 190px;
      height: auto !important;
      -webkit-box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
              box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1); }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul ul {
        -webkit-box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
                box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1); }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 8px 20px;
        position: relative;
        width: 190px;
        z-index: 6;
        color: #7b8198; }
        .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
          color: #f07e0a; }
  .vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
    padding: 5px 0;
    z-index: 9999;
    display: none;
    background-color: #2b2e3b; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li:hover > ul {
      display: block;
      left: 190px;
      height: auto !important;
      margin-top: -36px;
      position: absolute;
      width: 190px; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li > a span.pull-right {
      position: absolute;
      right: 20px;
      top: 12px;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li.active a {
      color: #212529; }

body[data-sidebar="dark"] .vertical-menu {
  background: #2b2e3b; }
  body[data-sidebar="dark"] .vertical-menu .vertical-menu-btn {
    color: #898fa9; }

body[data-sidebar="dark"] #sidebar-menu ul li a {
  color: #898fa9; }
  body[data-sidebar="dark"] #sidebar-menu ul li a i {
    color: #666b7f; }
  body[data-sidebar="dark"] #sidebar-menu ul li a:hover {
    color: #ffffff; }
    body[data-sidebar="dark"] #sidebar-menu ul li a:hover i {
      color: #ffffff; }

body[data-sidebar="dark"] #sidebar-menu ul li ul.sub-menu li a {
  color: #7b8198; }
  body[data-sidebar="dark"] #sidebar-menu ul li ul.sub-menu li a:hover {
    color: #ffffff; }

body[data-sidebar="dark"].vertical-collpsed {
  min-height: 1300px; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
    background: #2f3341;
    color: #ffffff; }
    body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
      color: #ffffff; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
    color: #7b8198; }
    body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
      color: #ffffff; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
    background-color: #2b2e3b; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
    color: #f07e0a !important; }
    body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active i {
      color: #f07e0a !important; }

body[data-sidebar="dark"] .mm-active {
  color: #ffffff !important; }
  body[data-sidebar="dark"] .mm-active > i {
    color: #ffffff !important; }
  body[data-sidebar="dark"] .mm-active > a {
    background-color: #343747; }
  body[data-sidebar="dark"] .mm-active .active {
    color: #ffffff !important; }
    body[data-sidebar="dark"] .mm-active .active i {
      color: #ffffff !important; }

body[data-sidebar="dark"] .menu-title {
  color: #666b7f; }

body[data-layout="horizontal"] .main-content {
  margin-left: 0 !important; }

body[data-sidebar-size="small"] .navbar-brand-box {
  width: 160px; }
  @media (max-width: 991.98px) {
    body[data-sidebar-size="small"] .navbar-brand-box {
      width: auto; } }

body[data-sidebar-size="small"] .vertical-menu {
  width: 160px;
  text-align: center; }
  body[data-sidebar-size="small"] .vertical-menu .has-arrow:after,
  body[data-sidebar-size="small"] .vertical-menu .badge {
    display: none !important; }
  body[data-sidebar-size="small"] .vertical-menu .vertical-menu-btn {
    display: none; }

body[data-sidebar-size="small"] .main-content {
  margin-left: 160px; }

body[data-sidebar-size="small"] #page-topbar, body[data-sidebar-size="small"] .footer {
  left: 160px; }
  @media (max-width: 991.98px) {
    body[data-sidebar-size="small"] #page-topbar, body[data-sidebar-size="small"] .footer {
      left: 0; } }

body[data-sidebar-size="small"] #sidebar-menu ul li.menu-title {
  background-color: #272935; }

body[data-sidebar-size="small"] #sidebar-menu ul li a i {
  display: block; }

body[data-sidebar-size="small"] #sidebar-menu ul li ul.sub-menu li a {
  padding-left: 1.5rem; }

body[data-sidebar-size="small"][data-sidebar="dark"] #sidebar-menu ul li.menu-title {
  background-color: #2f3341; }

body[data-sidebar-size="small"]:not(.vertical-collpsed) .navbar-header .vertical-menu-btn {
  display: block; }

body[data-sidebar-size="small"].vertical-collpsed .main-content {
  margin-left: 70px; }

body[data-sidebar-size="small"].vertical-collpsed .vertical-menu #sidebar-menu {
  text-align: left; }
  body[data-sidebar-size="small"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
    display: inline-block; }

body[data-sidebar-size="small"].vertical-collpsed #page-topbar, body[data-sidebar-size="small"].vertical-collpsed .footer {
  left: 70px; }

body[data-sidebar="colored"] .vertical-menu {
  background-color: #f07e0a; }
  body[data-sidebar="colored"] .vertical-menu .vertical-menu-btn {
    color: rgba(255, 255, 255, 0.8); }

body[data-sidebar="colored"] .navbar-brand-box {
  background-color: #f07e0a; }
  body[data-sidebar="colored"] .navbar-brand-box .logo-dark {
    display: none; }
  body[data-sidebar="colored"] .navbar-brand-box .logo-light {
    display: block; }

body[data-sidebar="colored"] .mm-active {
  color: #fff !important; }
  body[data-sidebar="colored"] .mm-active > a {
    background-color: rgba(255, 255, 255, 0.1); }
  body[data-sidebar="colored"] .mm-active > i, body[data-sidebar="colored"] .mm-active .active {
    color: #fff !important; }

body[data-sidebar="colored"] #sidebar-menu ul li.menu-title {
  color: rgba(255, 255, 255, 0.7); }

body[data-sidebar="colored"] #sidebar-menu ul li a {
  color: rgba(255, 255, 255, 0.7); }
  body[data-sidebar="colored"] #sidebar-menu ul li a i {
    color: rgba(255, 255, 255, 0.7); }
  body[data-sidebar="colored"] #sidebar-menu ul li a.waves-effect .waves-ripple {
    background: rgba(255, 255, 255, 0.1); }

body[data-sidebar="colored"] #sidebar-menu ul li ul.sub-menu li a {
  color: rgba(255, 255, 255, 0.6); }

body[data-sidebar="colored"] #sidebar-menu ul li .badge.badge-primary {
  background-color: #fff;
  /*color: #f07e0a; }*/
color: #f07e0a; }
body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  background-color: #647be9;
  color: #fff; }
  body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
    color: #fff; }

body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
  color: #f07e0a !important; }

.topnav {
  background: #2d313e;
  padding: 0 calc(20px / 2);
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  left: 0;
  right: 0;
  z-index: 100; }
  .topnav .topnav-menu {
    margin: 0;
    padding: 0; }
  .topnav .navbar-nav .nav-link {
    font-size: 14.5px;
    position: relative;
    padding: 1rem 1.3rem;
    color: #898fa9; }
    .topnav .navbar-nav .nav-link i {
      font-size: 15px; }
    .topnav .navbar-nav .nav-link:focus, .topnav .navbar-nav .nav-link:hover {
      color: #f07e0a;
      background-color: transparent; }
  .topnav .navbar-nav .dropdown-item {
    color: #898fa9; }
    .topnav .navbar-nav .dropdown-item.active, .topnav .navbar-nav .dropdown-item:hover {
      color: #f07e0a;
      background-color: transparent; }
  .topnav .navbar-nav .nav-item .nav-link.active {
    color: #f07e0a; }
  .topnav .navbar-nav .dropdown.active > a {
    color: #f07e0a;
    background-color: transparent; }

body[data-layout="horizontal"] #page-topbar {
  left: 0; }
  @media (min-width: 992px) {
    body[data-layout="horizontal"] #page-topbar {
      padding: 0 calc(20px / 2); } }

body[data-layout="horizontal"] .navbar-brand-box {
  position: relative;
  width: auto;
  display: block;
  background-color: transparent; }
  @media (min-width: 992px) {
    body[data-layout="horizontal"] .navbar-brand-box {
      padding-left: 0; } }

@media (min-width: 992px) {
  body[data-layout="horizontal"] .topnav {
    margin-top: 24px;
    margin-bottom: -16px;
    border-radius: 4px; }
  body[data-layout="horizontal"] .navbar-header {
    padding: 0 calc(20px / 2); } }

@media (min-width: 1200px) {
  body[data-layout="horizontal"] .container-fluid,
  body[data-layout="horizontal"] .navbar-header {
    max-width: 85%; } }

@media (min-width: 992px) {
  .topnav .dropdown-item {
    padding: .5rem 1.5rem;
    min-width: 180px; }
  .topnav .dropdown.mega-dropdown .mega-dropdown-menu {
    left: 0px;
    right: auto; }
  .topnav .dropdown .dropdown-menu {
    margin-top: 0;
    border-radius: 0 0 0.25rem 0.25rem; }
    .topnav .dropdown .dropdown-menu .arrow-down::after {
      right: 15px;
      -webkit-transform: rotate(-135deg) translateY(-50%);
              transform: rotate(-135deg) translateY(-50%);
      position: absolute; }
    .topnav .dropdown .dropdown-menu .dropdown .dropdown-menu {
      position: absolute;
      top: 0 !important;
      left: 100%;
      display: none; }
  .topnav .dropdown:hover > .dropdown-menu {
    display: block; }
  .topnav .dropdown:hover > .dropdown-menu > .dropdown:hover > .dropdown-menu {
    display: block; }
  .navbar-toggle {
    display: none; } }

.arrow-down {
  display: inline-block; }
  .arrow-down:after {
    border-color: initial;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    height: .4em;
    display: inline-block;
    right: 5px;
    top: 50%;
    margin-left: 10px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: .4em; }

@media (max-width: 1199.98px) {
  .topnav-menu .navbar-nav li:last-of-type .dropdown .dropdown-menu {
    right: 100%;
    left: auto; } }

@media (max-width: 991.98px) {
  body[data-layout="horizontal"] .navbar-brand-box .logo-dark {
    display: none; }
    body[data-layout="horizontal"] .navbar-brand-box .logo-dark span.logo-sm {
      display: none; }
  body[data-layout="horizontal"] .navbar-brand-box .logo-light {
    display: block; }
  .topnav {
    position: fixed;
    max-height: 360px;
    overflow-y: auto;
    padding: 0; }
    .topnav .navbar-nav .nav-link {
      padding: 0.75rem 1.1rem; }
    .topnav .dropdown .dropdown-menu {
      background-color: transparent;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding-left: 15px; }
      .topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl {
        width: auto; }
        .topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl .row {
          margin: 0px; }
    .topnav .dropdown .dropdown-item {
      position: relative;
      background-color: transparent; }
      .topnav .dropdown .dropdown-item.active, .topnav .dropdown .dropdown-item:active {
        color: #f07e0a; }
    .topnav .arrow-down::after {
      right: 15px;
      position: absolute; } }

@media (min-width: 992px) {
  body[data-layout="horizontal"][data-topbar="light"] .navbar-brand-box .logo-dark {
    display: none; }
  body[data-layout="horizontal"][data-topbar="light"] .navbar-brand-box .logo-light {
    display: block; }
  body[data-layout="horizontal"][data-topbar="light"] .topnav {
    background-color: #f07e0a; }
    body[data-layout="horizontal"][data-topbar="light"] .topnav .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 0.6); }
      body[data-layout="horizontal"][data-topbar="light"] .topnav .navbar-nav .nav-link:focus, body[data-layout="horizontal"][data-topbar="light"] .topnav .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 0.9); }
    body[data-layout="horizontal"][data-topbar="light"] .topnav .navbar-nav > .dropdown.active > a {
      color: rgba(255, 255, 255, 0.9) !important; } }

body[data-layout="horizontal"][data-topbar="colored"] #page-topbar {
  background-color: #f07e0a;
  -webkit-box-shadow: none;
          box-shadow: none; }

body[data-layout="horizontal"][data-topbar="colored"] .logo-dark {
  display: none; }

body[data-layout="horizontal"][data-topbar="colored"] .logo-light {
  display: block; }

body[data-layout="horizontal"][data-topbar="colored"] .app-search .form-control {
  background-color: rgba(45, 49, 62, 0.07);
  color: #fff; }

body[data-layout="horizontal"][data-topbar="colored"] .app-search span,
body[data-layout="horizontal"][data-topbar="colored"] .app-search input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

body[data-layout="horizontal"][data-topbar="colored"] .header-item {
  color: #e9ecef; }
  body[data-layout="horizontal"][data-topbar="colored"] .header-item:hover {
    color: #e9ecef; }

body[data-layout="horizontal"][data-topbar="colored"] .navbar-header .dropdown.show .header-item {
  background-color: rgba(255, 255, 255, 0.1); }

body[data-layout="horizontal"][data-topbar="colored"] .navbar-header .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

body[data-layout="horizontal"][data-topbar="colored"] .noti-icon i {
  color: #e9ecef; }

body[data-layout-size="boxed"] {
  background-color: #333847; }
  body[data-layout-size="boxed"] #layout-wrapper {
    background-color: #22252f;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
            box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12); }
  body[data-layout-size="boxed"] #page-topbar {
    max-width: calc(1300px - 250px);
    margin: 0 auto; }
  body[data-layout-size="boxed"] .footer {
    margin: 0 auto;
    max-width: calc(1300px - 250px); }
  body[data-layout-size="boxed"].vertical-collpsed #page-topbar {
    max-width: calc(1300px - 70px); }
  body[data-layout-size="boxed"].vertical-collpsed .footer {
    max-width: calc(1300px - 70px); }

body[data-layout="horizontal"][data-layout-size="boxed"] #page-topbar, body[data-layout="horizontal"][data-layout-size="boxed"] #layout-wrapper, body[data-layout="horizontal"][data-layout-size="boxed"] .footer {
  max-width: 100%; }

body[data-layout="horizontal"][data-layout-size="boxed"] .container-fluid, body[data-layout="horizontal"][data-layout-size="boxed"] .navbar-header {
  max-width: 1300px; }

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves
 *
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2); }

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }

.waves-input-wrapper.waves-button {
  padding: 0; }

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms; }

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.4); }

.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(245, 122, 8, 0.541); }

.waves-effect.waves-success .waves-ripple {
  background-color: rgba(52, 195, 143, 0.4); }

.waves-effect.waves-info .waves-ripple {
  background-color: rgba(80, 165, 241, 0.4); }

.waves-effect.waves-warning .waves-ripple {
  background-color: rgba(241, 180, 76, 0.4); }

.waves-effect.waves-danger .waves-ripple {
  background-color: rgba(244, 106, 106, 0.4); }

.avatar-xs {
  height: 2rem;
  width: 2rem; }

.avatar-sm {
  height: 3rem;
  width: 3rem; }

.avatar-md {
  height: 4.5rem;
  width: 4.5rem; }

.avatar-lg {
  height: 6rem;
  width: 6rem; }

.avatar-xl {
  height: 7.5rem;
  width: 7.5rem; }

.avatar-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f07e0a;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.alert-border {
  background-color: #2b2e3b;
  border-color: #343747;
  border-top: 2px solid #343747; }

.alert-border-primary {
  border-top-color: #f07e0a; }

.alert-border-secondary {
  border-top-color: #c3cbe4; }

.alert-border-success {
  border-top-color: #34c38f; }

.alert-border-info {
  border-top-color: #50a5f1; }

.alert-border-warning {
  border-top-color: #f1b44c; }

.alert-border-danger {
  border-top-color: #f46a6a; }

.alert-border-pink {
  border-top-color: #e83e8c; }

.alert-border-light {
  border-top-color: #343747; }

.alert-border-dark {
  border-top-color: #eff2f7; }

.custom-accordion .card + .card {
  margin-top: 0.5rem; }

.custom-accordion a.collapsed i.accor-down-icon:before {
  content: "\F0140"; }

.custom-accordion .card-body {
  color: #9699a8; }

.font-size-10 {
  font-size: 10px !important; }

.font-size-11 {
  font-size: 11px !important; }

.font-size-12 {
  font-size: 12px !important; }

.font-size-13 {
  font-size: 13px !important; }

.font-size-14 {
  font-size: 14px !important; }

.font-size-15 {
  font-size: 15px !important; }

.font-size-16 {
  font-size: 16px !important; }

.font-size-17 {
  font-size: 17px !important; }

.font-size-18 {
  font-size: 18px !important; }

.font-size-20 {
  font-size: 20px !important; }

.font-size-22 {
  font-size: 22px !important; }

.font-size-24 {
  font-size: 24px !important; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-semibold {
  font-weight: 600; }

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 2px);
  display: block;
  border: 1px solid #9699a8;
  border-radius: 50%;
  color: #9699a8;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .social-list-item:hover {
    color: #c3cbe4;
    background-color: #2b2e3b; }

.w-xs {
  min-width: 80px; }

.w-sm {
  min-width: 95px; }

.w-md {
  min-width: 110px; }

.w-lg {
  min-width: 140px; }

.w-xl {
  min-width: 160px; }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2e3b;
  z-index: 9999; }

#status {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: -20px 0 0 -20px; }

.spinner .spin-icon {
  font-size: 48px;
  color: #f07e0a;
  position: relative;
  display: inline-block;
  -webkit-animation: spin 1.6s infinite linear;
          animation: spin 1.6s infinite linear; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

.form-check-right {
  padding-left: 0;
  display: inline-block;
  padding-right: 1.25rem; }
  .form-check-right .form-check-input {
    right: 0;
    margin-left: 0; }
  .form-check-right .form-check-label {
    display: block; }

.custom-control-right {
  padding-left: 0;
  padding-right: 1.5rem;
  display: inline-block; }
  .custom-control-right .custom-control-label {
    display: inline-block; }
    .custom-control-right .custom-control-label:before, .custom-control-right .custom-control-label:after {
      left: auto;
      right: -1.5rem; }
  .custom-control-right .custom-control-input {
    left: auto; }

.custom-control-label {
  cursor: pointer; }

.main-chart .chart-border-left {
  border-left: 1.4px solid #343747;
  padding: 2px 20px; }
  .main-chart .chart-border-left:last-child {
    margin-right: 0px; }

/* Activity */
.activity-feed {
  list-style: none; }
  .activity-feed .feed-item {
    position: relative;
    padding-bottom: 27px;
    padding-left: 16px;
    border-left: 2px solid #343747; }
    .activity-feed .feed-item:after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: -6px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #f07e0a;
      background-color: #2b2e3b; }
    .activity-feed .feed-item:last-child {
      border-color: transparent; }

.button-items {
  margin-left: -8px;
  margin-bottom: -12px; }
  .button-items .btn {
    margin-bottom: 12px;
    margin-left: 8px; }

.mfp-popup-form {
  max-width: 1140px; }

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block; }

.icon-demo-content {
  text-align: center;
  color: #9699a8; }
  .icon-demo-content i {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 24px;
    margin: 0px auto 16px;
    border: 2px solid #343747;
    color: #c3cbe4;
    border-radius: 4px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
  .icon-demo-content .col-lg-4 {
    margin-top: 24px; }
    .icon-demo-content .col-lg-4:hover i {
      color: #fff;
      background-color: #f07e0a;
      border-color: #f07e0a; }

.grid-structure .grid-container {
  background-color: #212529;
  margin-top: 10px;
  font-size: .8rem;
  font-weight: 500;
  padding: 10px 20px; }

.card-radio {
  background-color: #2b2e3b;
  border: 2px solid #343747;
  border-radius: 0.25rem;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block; }
  .card-radio:hover {
    cursor: pointer; }

.card-radio-label {
  display: block; }

.card-radio-input {
  display: none; }
  .card-radio-input:checked + .card-radio {
    border-color: #f07e0a !important; }
    .card-radio-input:checked + .card-radio:before {
      content: '\e9c3';
      font-family: "unicons-line";
      position: absolute;
      top: 5px;
      right: 20px;
      font-size: 22px;
      color: #f07e0a; }

.navs-carousel .owl-nav {
  margin-top: 16px; }
  .navs-carousel .owl-nav button {
    width: 30px;
    height: 30px;
    line-height: 28px !important;
    font-size: 20px !important;
    border-radius: 50% !important;
    background-color: rgba(91, 115, 232, 0.25) !important;
    color: #f07e0a !important;
    margin: 4px 8px !important; }

@media print {
  .vertical-menu,
  .right-bar,
  .page-title-box,
  .navbar-header,
  .footer {
    display: none !important; }
  .card-body,
  .main-content,
  .right-bar,
  .page-content,
  body {
    padding: 0;
    margin: 0; }
  .card {
    border: 0; } }

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit; }

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0; }

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0 !important;
  bottom: 0;
  right: 0 !important;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch; }

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: auto;
  /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  padding: 0px !important; }

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none; }

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table; }

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none; }

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0; }

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1; }

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden; }

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all; }

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 6px;
  min-height: 10px; }

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: #a2adb7;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear; }

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px; }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px; }

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto; }

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0; }

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll; }

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none; }

.custom-scroll {
  height: 100%; }

/* ==============
  Calendar
===================*/
.fc .fc-toolbar h2 {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase; }

@media (max-width: 767.98px) {
  .fc .fc-toolbar .fc-left,
  .fc .fc-toolbar .fc-right,
  .fc .fc-toolbar .fc-center {
    float: none;
    display: block;
    text-align: center;
    clear: both;
    margin: 10px 0; }
  .fc .fc-toolbar > * > * {
    float: none; }
  .fc .fc-toolbar .fc-today-button {
    display: none; } }

.fc .fc-toolbar .btn {
  text-transform: capitalize; }

.fc th.fc-widget-header {
  background: #343747;
  color: #f6f6f6;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600; }

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #343747; }

.fc-unthemed td.fc-today {
  background: #2f3341; }

.fc-button {
  background: #2b2e3b;
  border-color: #343747;
  color: #f6f6f6;
  text-transform: capitalize;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 6px 12px !important;
  height: auto !important; }

.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  background-color: #f07e0a;
  color: #fff;
  text-shadow: none; }

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center; }

.fc-event,
.fc-event-dot {
  background-color: #f07e0a; }

.fc-event .fc-content {
  color: #fff; }

#external-events .external-event {
  text-align: left !important;
  padding: 4px; }

#session-timeout-dialog .close {
  display: none; }

#session-timeout-dialog .countdown-holder {
  color: #f46a6a;
  font-weight: 500; }

#session-timeout-dialog .btn-default {
  background-color: #fff;
  color: #f46a6a;
  -webkit-box-shadow: none;
          box-shadow: none; }

.irs {
  font-family: "IBM Plex Sans", sans-serif; }

.irs--round .irs-bar, .irs--round .irs-to, .irs--round .irs-from, .irs--round .irs-single {
  background: #f07e0a !important;
  font-size: 11px; }

.irs--round .irs-to:before, .irs--round .irs-from:before, .irs--round .irs-single:before {
  display: none; }

.irs--round .irs-line {
  background: #343747;
  border-color: #343747; }

.irs--round .irs-grid-text {
  font-size: 11px;
  color: #9699a8; }

.irs--round .irs-min, .irs--round .irs-max {
  color: #9699a8;
  background: #343747;
  font-size: 11px; }

.irs--round .irs-handle {
  border: 1px solid #f07e0a;
  width: 6px;
  height: 16px;
  top: 29px;
  background-color: #2b2e3b !important; }

.swal2-container .swal2-title {
  font-size: 24px;
  font-weight: 500; }

.swal2-content {
  font-size: 16px; }

.swal2-icon.swal2-question {
  border-color: #50a5f1;
  color: #50a5f1; }

.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #34c38f; }

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: rgba(52, 195, 143, 0.3); }

.swal2-icon.swal2-warning {
  border-color: #f1b44c;
  color: #f1b44c; }

.swal2-styled:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
  background: #f07e0a; }
  .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step, .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line {
    background: rgba(91, 115, 232, 0.3); }

.br-wrapper {
  display: inline-block; }

.br-theme-fontawesome-stars .br-widget a, .br-theme-css-stars .br-widget a {
  font-weight: 900; }
  .br-theme-fontawesome-stars .br-widget a.br-selected:after, .br-theme-css-stars .br-widget a.br-selected:after {
    color: #f1b44c; }

.br-theme-fontawesome-stars .br-widget a {
  font-weight: 900; }

.br-theme-fontawesome-stars .br-widget a, .br-theme-fontawesome-stars-o .br-widget a {
  font-family: 'Font Awesome 5 Free'; }

.br-theme-fontawesome-stars-o .br-widget a.br-selected:after, .br-theme-fontawesome-stars-o .br-widget a.br-active:after, .br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
  font-weight: 900;
  color: #34c38f; }

.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after, .br-theme-fontawesome-stars-o .br-widget a:after {
  content: '\f005'; }

.hidden {
  display: none !important;
  visibility: hidden; }

.br-theme-bars-1to10 .br-widget .br-current-rating {
  line-height: inherit; }

/* =============
   Notification
============= */
#toast-container > div {
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  opacity: 1; }
  #toast-container > div:hover {
    -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
            box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    opacity: 0.9; }

#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
  min-width: 96%;
  margin: 4px auto; }

.toast-primary {
  border: 2px solid #f07e0a !important;
  background-color: rgba(250, 125, 9, 0.8) !important; }

.toast-secondary {
  border: 2px solid #c3cbe4 !important;
  background-color: rgba(195, 203, 228, 0.8) !important; }

.toast-success {
  border: 2px solid #34c38f !important;
  background-color: rgba(52, 195, 143, 0.8) !important; }

.toast-info {
  border: 2px solid #50a5f1 !important;
  background-color: rgba(80, 165, 241, 0.8) !important; }

.toast-warning {
  border: 2px solid #f1b44c !important;
  background-color: rgba(241, 180, 76, 0.8) !important; }

.toast-danger {
  border: 2px solid #f46a6a !important;
  background-color: rgba(244, 106, 106, 0.8) !important; }

.toast-pink {
  border: 2px solid #e83e8c !important;
  background-color: rgba(232, 62, 140, 0.8) !important; }

.toast-light {
  border: 2px solid #343747 !important;
  background-color: rgba(52, 55, 71, 0.8) !important; }

.toast-dark {
  border: 2px solid #eff2f7 !important;
  background-color: rgba(239, 242, 247, 0.8) !important; }

.toast-error {
  background-color: rgba(244, 106, 106, 0.8);
  border: 2px solid #f46a6a; }

.toastr-options {
  padding: 24px;
  background-color: #2f3341;
  margin-bottom: 0;
  border: 1px solid #343747; }

.error {
  color: #f46a6a; }

.parsley-error {
  border-color: #f46a6a; }

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0; }
  .parsley-errors-list.filled {
    display: block; }
  .parsley-errors-list > li {
    font-size: 12px;
    list-style: none;
    color: #f46a6a;
    margin-top: 5px; }

.select2-container .select2-selection--single {
  background-color: #2f3341;
  border: 1px solid #343747;
  height: 38px; }
  .select2-container .select2-selection--single:focus {
    outline: none; }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
    color: #9699a8; }
  .select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px; }
    .select2-container .select2-selection--single .select2-selection__arrow b {
      border-color: #9699a8 transparent transparent transparent;
      border-width: 6px 6px 0 6px; }
  .select2-container .select2-selection--single .select2-selection__placeholder {
    color: #9295a4; }

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #9699a8 transparent !important;
  border-width: 0 6px 6px 6px !important; }

.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: #2b2e3b; }
  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #343747;
    background-color: #2f3341;
    color: #c3cbe4;
    outline: none; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f07e0a; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #343747;
  color: #e9ecef; }
  .select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #f07e0a;
    color: #fff; }

.select2-results__option {
  padding: 6px 12px; }

.select2-dropdown {
  border: 1px solid #343747;
  background-color: #2b2e3b;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12); }

.select2-search input {
  border: 1px solid #343747; }

.select2-container .select2-selection--multiple {
  min-height: 38px;
  background-color: #2f3341;
  border: 1px solid #343747 !important; }
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 10px; }
  .select2-container .select2-selection--multiple .select2-search__field {
    border: 0;
    color: #9699a8; }
    .select2-container .select2-selection--multiple .select2-search__field::-webkit-input-placeholder {
      color: #9699a8; }
    .select2-container .select2-selection--multiple .select2-search__field::-moz-placeholder {
      color: #9699a8; }
    .select2-container .select2-selection--multiple .select2-search__field:-ms-input-placeholder {
      color: #9699a8; }
    .select2-container .select2-selection--multiple .select2-search__field::-ms-input-placeholder {
      color: #9699a8; }
    .select2-container .select2-selection--multiple .select2-search__field::placeholder {
      color: #9699a8; }
  .select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #2b2e3b;
    border: 1px solid #343747;
    border-radius: 1px;
    padding: 0 7px; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #9295a4; }

.select2-container--default .select2-results__group {
  font-weight: 600; }

.select2-result-repository__avatar {
  float: left;
  width: 60px;
  margin-right: 10px; }
  .select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px; }

.select2-result-repository__statistics {
  margin-top: 7px; }

.select2-result-repository__forks,
.select2-result-repository__stargazers,
.select2-result-repository__watchers {
  display: inline-block;
  font-size: 11px;
  margin-right: 1em;
  color: #9699a8; }
  .select2-result-repository__forks .fa,
  .select2-result-repository__stargazers .fa,
  .select2-result-repository__watchers .fa {
    margin-right: 4px; }
    .select2-result-repository__forks .fa.fa-flash::before,
    .select2-result-repository__stargazers .fa.fa-flash::before,
    .select2-result-repository__watchers .fa.fa-flash::before {
      content: "\f0e7";
      font-family: 'Font Awesome 5 Free'; }

.select2-results__option--highlighted .select2-result-repository__forks,
.select2-results__option--highlighted .select2-result-repository__stargazers,
.select2-results__option--highlighted .select2-result-repository__watchers {
  color: rgba(255, 255, 255, 0.8); }

.select2-result-repository__meta {
  overflow: hidden; }

.img-flag {
  margin-right: 7px;
  height: 15px;
  width: 18px; }

/* CSS Switch */
input[switch] {
  display: none; }
  input[switch] + label {
    font-size: 1em;
    line-height: 1;
    width: 56px;
    height: 24px;
    background-color: #9295a4;
    background-image: none;
    border-radius: 2rem;
    padding: 0.16667rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: 500;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    input[switch] + label:before {
      color: #eff2f7;
      content: attr(data-off-label);
      display: block;
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 21px;
      position: absolute;
      right: 1px;
      margin: 3px;
      top: -2px;
      text-align: center;
      min-width: 1.66667rem;
      overflow: hidden;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
    input[switch] + label:after {
      content: '';
      position: absolute;
      left: 3px;
      background-color: #2b2e3b;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 2rem;
      height: 20px;
      width: 20px;
      top: 2px;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
  input[switch]:checked + label {
    background-color: #f07e0a; }

input[switch]:checked + label {
  background-color: #f07e0a; }
  input[switch]:checked + label:before {
    color: #fff;
    content: attr(data-on-label);
    right: auto;
    left: 3px; }
  input[switch]:checked + label:after {
    left: 33px;
    background-color: #2b2e3b; }

input[switch="bool"] + label {
  background-color: #f46a6a; }

input[switch="bool"] + label:before, input[switch="bool"]:checked + label:before,
input[switch="default"]:checked + label:before {
  color: #fff; }

input[switch="bool"]:checked + label {
  background-color: #34c38f; }

input[switch="default"]:checked + label {
  background-color: #a2a2a2; }

input[switch="primary"]:checked + label {
  background-color: #f07e0a; }

input[switch="success"]:checked + label {
  background-color: #34c38f; }

input[switch="info"]:checked + label {
  background-color: #50a5f1; }

input[switch="warning"]:checked + label {
  background-color: #f1b44c; }

input[switch="danger"]:checked + label {
  background-color: #f46a6a; }

input[switch="dark"]:checked + label {
  background-color: #eff2f7; }

.square-switch {
  margin-right: 7px; }
  .square-switch input[switch] + label, .square-switch input[switch] + label:after {
    border-radius: 4px; }

.datepicker {
  border: 1px solid #343747;
  padding: 8px;
  z-index: 999 !important; }
  .datepicker table tr th {
    font-weight: 500; }
  .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td .active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td span.active.active, .datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover {
    background-color: #f07e0a !important;
    background-image: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff !important; }
  .datepicker table tr td.day.focused, .datepicker table tr td.day:hover,
  .datepicker table tr td span.focused,
  .datepicker table tr td span:hover {
    background: #2b2e3b; }
  .datepicker table tr td.new, .datepicker table tr td.old,
  .datepicker table tr td span.new,
  .datepicker table tr td span.old {
    color: #9699a8;
    opacity: 0.6; }
  .datepicker table tr td.range, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover, .datepicker table tr td.range:hover {
    background-color: #343747; }

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > td {
  padding: 7px; }

.bootstrap-datepicker-inline .datepicker-inline {
  width: auto !important;
  display: inline-block; }

.ck-editor__editable {
  min-height: 250px !important; }

.ck.ck-reset_all, .ck.ck-reset_all * {
  color: #f6f6f6 !important; }

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border-color: #343747 !important; }

.ck.ck-toolbar {
  background-color: #343747 !important;
  border-color: #343747 !important; }
  .ck.ck-toolbar .ck.ck-toolbar__separator {
    background-color: #343747 !important; }

.ck.ck-tooltip .ck-tooltip__text {
  background-color: #eff2f7 !important;
  color: #343747 !important; }

.ck.ck-editor__main > .ck-editor__editable {
  background-color: #2b2e3b !important; }

.ck.ck-button:not(.ck-disabled):hover, a.ck.ck-button:not(.ck-disabled):hover {
  background-color: #303241 !important; }

.note-editor.note-frame {
  border: 1px solid #343747;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0; }
  .note-editor.note-frame .note-statusbar {
    background-color: #343747;
    border-top: 1px solid #343747; }
  .note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-codable {
    border: none;
    color: #9699a8;
    background-color: transparent; }

.note-btn-group .note-btn {
  background-color: #343747 !important;
  border-color: #343747 !important; }

.note-status-output {
  display: none; }

.note-editable p:last-of-type {
  margin-bottom: 0; }

.note-popover .popover-content .note-color .dropdown-menu,
.card-header.note-toolbar .note-color .dropdown-menu {
  min-width: 344px; }

.note-popover {
  border-color: #343747; }

.note-popover .popover-content,
.card-header.note-toolbar {
  background-color: #343747; }

.note-toolbar {
  padding: 0 0 5px 5px !important; }

/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed #9295a4;
  background: #2b2e3b;
  border-radius: 6px; }
  .dropzone .dz-message {
    font-size: 24px;
    width: 100%; }

.twitter-bs-wizard .twitter-bs-wizard-nav {
  padding: 4px;
  background-color: rgba(91, 115, 232, 0.1); }
  .twitter-bs-wizard .twitter-bs-wizard-nav .step-number {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 34px;
    border: 2px solid #f07e0a;
    color: #f07e0a;
    text-align: center;
    border-radius: 50%; }
    @media (max-width: 991.98px) {
      .twitter-bs-wizard .twitter-bs-wizard-nav .step-number {
        display: block;
        margin: 0 auto 8px !important; } }
  @media (min-width: 992px) {
    .twitter-bs-wizard .twitter-bs-wizard-nav .nav-link {
      text-align: left; } }
  .twitter-bs-wizard .twitter-bs-wizard-nav .nav-link.active {
    background-color: transparent;
    color: #f6f6f6; }
    .twitter-bs-wizard .twitter-bs-wizard-nav .nav-link.active .step-number {
      background-color: #f07e0a;
      color: #fff; }

.twitter-bs-wizard .twitter-bs-wizard-pager-link {
  padding-top: 24px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0; }
  .twitter-bs-wizard .twitter-bs-wizard-pager-link li {
    display: inline-block; }
    .twitter-bs-wizard .twitter-bs-wizard-pager-link li a {
      display: inline-block;
      padding: .47rem .75rem;
      background-color: #f07e0a;
      color: #fff;
      border-radius: .25rem; }
    .twitter-bs-wizard .twitter-bs-wizard-pager-link li.disabled a {
      cursor: not-allowed;
      background-color: #7f92ed; }
    .twitter-bs-wizard .twitter-bs-wizard-pager-link li.next {
      float: right; }

.twitter-bs-wizard-tab-content {
  padding-top: 24px;
  min-height: 262px; }

.verti-nav-wizard .twitter-bs-wizard-nav .nav-item .nav-link {
  margin: 4px 0; }
  @media (max-width: 991.98px) {
    .verti-nav-wizard .twitter-bs-wizard-nav .nav-item .nav-link {
      text-align: center; } }

.table-rep-plugin .btn-toolbar {
  display: block; }

.table-rep-plugin .table-responsive {
  border: none !important; }

.table-rep-plugin .btn-group .btn-default {
  background-color: #343747;
  color: #eff2f7;
  border: 1px solid #303241; }
  .table-rep-plugin .btn-group .btn-default.btn-primary {
    background-color: #f07e0a;
    border-color: #f07e0a;
    color: #fff;
    -webkit-box-shadow: 0 0 0 2px rgba(253, 135, 0, 0.5);
            box-shadow: 0 0 0 2px rgba(248, 142, 3, 0.5); }

.table-rep-plugin .btn-group.pull-right {
  float: right; }
  .table-rep-plugin .btn-group.pull-right .dropdown-menu {
    right: 0;
    -webkit-transform: none !important;
            transform: none !important;
    top: 100% !important; }

.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal; }

.table-rep-plugin .checkbox-row {
  padding-left: 40px;
  color: #9295a4 !important; }
  .table-rep-plugin .checkbox-row:hover {
    background-color: #2f3341 !important; }
  .table-rep-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative; }
    .table-rep-plugin .checkbox-row label::before {
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #343747;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      transition: 0.3s ease-in-out;
      width: 17px;
      outline: none !important; }
    .table-rep-plugin .checkbox-row label::after {
      color: #2b2e3b;
      display: inline-block;
      font-size: 11px;
      height: 16px;
      left: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: -1px;
      width: 16px; }
  .table-rep-plugin .checkbox-row input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important; }
    .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: none; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label::before {
    background-color: #212529;
    cursor: not-allowed; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
    background-color: #f07e0a;
    border-color: #f07e0a; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    color: #fff; }

.table-rep-plugin .fixed-solution .sticky-table-header {
  top: 70px !important;
  background-color: #f07e0a; }
  .table-rep-plugin .fixed-solution .sticky-table-header table {
    color: #fff; }

.table-rep-plugin table.focus-on tbody tr.focused th,
.table-rep-plugin table.focus-on tbody tr.focused td,
.table-rep-plugin .sticky-table-header {
  background: #f07e0a;
  border-color: #f07e0a;
  color: #fff; }
  .table-rep-plugin table.focus-on tbody tr.focused th table,
  .table-rep-plugin table.focus-on tbody tr.focused td table,
  .table-rep-plugin .sticky-table-header table {
    color: #fff; }

@media (min-width: 992px) {
  body[data-layout="horizontal"] .fixed-solution .sticky-table-header {
    top: 148px !important; } }

.table-editable .editable-input .form-control {
  height: 2rem; }

.table-editable a.editable {
  color: #9295a4; }

.table-editable .editable-buttons .btn.btn-sm {
  font-size: 12px; }

.table-editable tbody td.focus {
  -webkit-box-shadow: inset 0 0 1px 1px #f07e0a !important;
          box-shadow: inset 0 0 1px 1px #f07e0a !important; }

.glyphicon {
  display: inline-block;
  font-family: "Material Design Icons";
  font-size: inherit;
  font-weight: 600;
  font-style: inherit; }

.glyphicon-ok:before {
  content: "\F012C"; }

.glyphicon-remove:before {
  content: "\F0156"; }

.dt-autofill-list {
  border: none !important;
  background-color: #2b2e3b !important;
  z-index: 1007 !important; }
  .dt-autofill-list .dt-autofill-question, .dt-autofill-list .dt-autofill-button {
    border-bottom-color: #343747 !important; }
  .dt-autofill-list ul li:hover {
    background-color: #343747 !important; }

.dt-autofill-background {
  z-index: 1006 !important; }

.apex-charts {
  min-height: 10px !important; }
  .apex-charts text {
    font-family: "IBM Plex Sans", sans-serif !important;
    fill: #9699a8; }
  .apex-charts .apexcharts-canvas {
    margin: 0 auto; }

.apexcharts-tooltip-title,
.apexcharts-tooltip-text {
  font-family: "IBM Plex Sans", sans-serif !important; }

.apexcharts-legend-series {
  font-weight: 500; }

.apexcharts-gridline {
  pointer-events: none;
  stroke: #32394e; }

.apexcharts-legend-text {
  color: #c3cbe4 !important;
  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 13px !important; }

.apexcharts-pie-label {
  fill: #fff !important; }

.apexcharts-yaxis text,
.apexcharts-xaxis text {
  font-family: "IBM Plex Sans", sans-serif !important;
  fill: #9699a8; }

/* Flot chart */
.flot-charts-height {
  height: 320px; }

.flotTip {
  padding: 8px 12px;
  background-color: rgba(239, 242, 247, 0.9);
  z-index: 100;
  color: #212529;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  border-radius: 4px; }

.legendLabel {
  color: #9699a8; }

.jqstooltip {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: #eff2f7 !important;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: #f8f9fa !important; }

.jqsfield {
  color: #2b2e3b !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: 500 !important; }

.gmaps, .gmaps-panaroma {
  height: 300px;
  background: #212529;
  border-radius: 3px; }

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  background: #f07e0a;
  border-radius: 4px;
  padding: 10px 20px; }

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute; }
  .gmaps-overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #f07e0a; }
  .gmaps-overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #f07e0a; }

.jvectormap-label {
  border: none;
  background: #eff2f7;
  color: #212529;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.9rem;
  padding: 5px 8px; }

.leaflet-map {
  height: 300px; }
  .leaflet-map.leaflet-container {
    z-index: 99; }

.home-btn {
  position: absolute;
  top: 15px;
  right: 25px; }

.authentication-bg {
  background-color: #22252f; }
  .authentication-bg .auth-logo .logo {
    margin: 0px auto; }

.signin-other-title {
  position: relative; }
  .signin-other-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #343747;
    top: 10px; }
  .signin-other-title .title {
    display: inline-block;
    position: relative;
    z-index: 9;
    background-color: #2b2e3b;
    padding: 2px 16px; }

.auth-carousel.owl-theme .owl-dots .owl-dot span {
  background-color: #2b2e3b; }

.auth-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #f07e0a; }

.search-box .form-control {
  border-radius: 30px;
  padding-left: 40px; }

.search-box .search-icon {
  font-size: 16px;
  position: absolute;
  left: 13px;
  top: 0;
  line-height: 38px; }

.categories-list {
  padding: 4px 0; }
  .categories-list li a {
    display: block;
    padding: 4px 12px;
    color: #9295a4; }
  .categories-list li.active a {
    color: #f07e0a; }

.product-box {
  border: 1px solid #343747;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  margin-top: 20px;
  cursor: pointer; }
  .product-box:hover {
    -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
            box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12); }
    .product-box:hover .product-content {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px); }
    .product-box:hover .product-color {
      visibility: visible; }

.product-img {
  position: relative; }
  .product-img .product-ribbon {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 6px 8px; }

.product-wishlist {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9; }
  .product-wishlist a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #343747;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
    color: #9699a8; }

.product-content {
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.product-color {
  position: absolute;
  left: 0;
  right: 0;
  margin: 16px auto 0;
  visibility: hidden; }

.product-detail .nav-pills .nav-link {
  margin-bottom: 7px; }
  .product-detail .nav-pills .nav-link.active {
    background-color: #343747; }
  .product-detail .nav-pills .nav-link .tab-img {
    width: 5rem; }

.product-detail .product-img {
  padding: 24px; }

.product-desc-list li {
  padding: 2px 0px; }

.product-desc-color a {
  display: inline-block;
  text-align: center;
  color: #9295a4;
  margin: 4px;
  border: 2px solid #343747;
  border-radius: 4px; }
  .product-desc-color a.active, .product-desc-color a:hover {
    color: #f07e0a;
    border-color: #f07e0a !important; }

.product-review-link .list-inline-item a {
  color: #c3cbe4;
  padding: 4px 8px;
  font-size: 15px; }

.product-cart-touchspin {
  border: 1px solid #343747;
  background-color: #2f3341;
  border-radius: 0.25rem; }
  .product-cart-touchspin .form-control {
    border-color: transparent;
    height: 32px; }
  .product-cart-touchspin .input-group-btn .btn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #f07e0a !important;
    font-size: 16px;
    padding: 3px 12px;
    -webkit-box-shadow: none;
            box-shadow: none; }

.shipping-address {
  -webkit-box-shadow: none;
          box-shadow: none; }
  .shipping-address.active {
    border-color: #f07e0a !important; }

/* ==============
  Email
===================*/
.email-leftbar {
  width: 236px;
  float: left;
  padding: 20px;
  border-radius: 5px; }

.email-rightbar {
  margin-left: 260px; }

.chat-user-box p.user-title {
  color: #eff2f7;
  font-weight: 500; }

.chat-user-box p {
  font-size: 13px; }

@media (max-width: 767px) {
  .email-leftbar {
    float: none;
    width: 100%; }
  .email-rightbar {
    margin: 0; } }

.mail-list a {
  display: block;
  color: #c3cbe4;
  line-height: 24px;
  padding: 8px 5px; }
  .mail-list a.active {
    color: #f46a6a;
    font-weight: 500; }

.message-list {
  display: block;
  padding-left: 0; }
  .message-list li {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    cursor: default;
    -webkit-transition-duration: .3s;
            transition-duration: .3s; }
    .message-list li a {
      color: #c3cbe4; }
    .message-list li:hover {
      background: #343747;
      -webkit-transition-duration: .05s;
              transition-duration: .05s; }
    .message-list li .col-mail {
      float: left;
      position: relative; }
    .message-list li .col-mail-1 {
      width: 320px; }
      .message-list li .col-mail-1 .star-toggle,
      .message-list li .col-mail-1 .checkbox-wrapper-mail,
      .message-list li .col-mail-1 .dot {
        display: block;
        float: left; }
      .message-list li .col-mail-1 .dot {
        border: 4px solid transparent;
        border-radius: 100px;
        margin: 22px 26px 0;
        height: 0;
        width: 0;
        line-height: 0;
        font-size: 0; }
      .message-list li .col-mail-1 .checkbox-wrapper-mail {
        margin: 15px 10px 0 20px; }
      .message-list li .col-mail-1 .star-toggle {
        margin-top: 18px;
        margin-left: 5px; }
      .message-list li .col-mail-1 .title {
        position: absolute;
        top: 0;
        left: 110px;
        right: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0; }
    .message-list li .col-mail-2 {
      position: absolute;
      top: 0;
      left: 320px;
      right: 0;
      bottom: 0; }
      .message-list li .col-mail-2 .subject,
      .message-list li .col-mail-2 .date {
        position: absolute;
        top: 0; }
      .message-list li .col-mail-2 .subject {
        left: 0;
        right: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .message-list li .col-mail-2 .date {
        right: 0;
        width: 170px;
        padding-left: 80px; }
    .message-list li.active, .message-list li.active:hover {
      -webkit-box-shadow: inset 3px 0 0 #f07e0a;
              box-shadow: inset 3px 0 0 #f07e0a; }
    .message-list li.unread {
      background-color: #343747;
      font-weight: 500;
      color: #dee4ef; }
      .message-list li.unread a {
        color: #dee4ef;
        font-weight: 500; }
  .message-list .checkbox-wrapper-mail {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: inset 0 0 0 1px #9295a4;
            box-shadow: inset 0 0 0 1px #9295a4;
    border-radius: 1px; }
    .message-list .checkbox-wrapper-mail input {
      opacity: 0;
      cursor: pointer; }
    .message-list .checkbox-wrapper-mail input:checked ~ label {
      opacity: 1; }
    .message-list .checkbox-wrapper-mail label {
      position: absolute;
      height: 20px;
      width: 20px;
      left: 0;
      cursor: pointer;
      opacity: 0;
      margin-bottom: 0;
      -webkit-transition-duration: .05s;
              transition-duration: .05s;
      top: 0; }
      .message-list .checkbox-wrapper-mail label:before {
        content: "\F012C";
        font-family: "Material Design Icons";
        top: 0;
        height: 20px;
        color: #dee4ef;
        width: 20px;
        position: absolute;
        margin-top: -16px;
        left: 4px;
        font-size: 13px; }

@media (max-width: 575.98px) {
  .message-list li .col-mail-1 {
    width: 200px; } }

@media (min-width: 1200px) {
  .chat-leftsidebar {
    min-width: 380px; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .chat-leftsidebar {
    min-width: 280px; } }

.chat-noti-dropdown.active:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #f46a6a;
  border-radius: 50%;
  right: 0; }

.chat-noti-dropdown .btn {
  padding: 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 20px; }

.chat-search-box .form-control {
  border: 0; }

.chat-list {
  margin: 0; }
  .chat-list li.active a {
    background-color: rgba(91, 115, 232, 0.075);
    border-color: transparent; }
  .chat-list li a {
    position: relative;
    display: block;
    color: #9699a8;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    padding: 12px;
    border-top: 1px solid #343747;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500; }
    .chat-list li a:hover {
      background-color: rgba(91, 115, 232, 0.075);
      border-color: transparent; }
  .chat-list li .user-img {
    position: relative; }
    .chat-list li .user-img .user-status {
      width: 10px;
      height: 10px;
      background-color: #9699a8;
      border-radius: 50%;
      border: 2px solid #2b2e3b;
      position: absolute;
      right: 0;
      bottom: 0; }
    .chat-list li .user-img.online .user-status {
      background-color: #34c38f; }
    .chat-list li .user-img.away .user-status {
      background-color: #f1b44c; }
  .chat-list li.unread a {
    font-weight: 600;
    color: #eff2f7; }
  .chat-list li .unread-message {
    position: absolute;
    display: inline-block;
    right: 16px;
    top: 33px; }

.group-list li a {
  border: 0; }

.user-chat-nav .dropdown .nav-btn {
  height: 36px;
  width: 36px;
  line-height: 36px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  font-size: 16px;
  border-radius: 50%; }

.user-chat-nav .dropdown .dropdown-menu {
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  border: 1px solid #343747; }

.chat-conversation li {
  clear: both; }

.chat-conversation .chat-day-title {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  border: none; }
  .chat-conversation .chat-day-title .title {
    display: inline-block;
    background-color: #343747;
    position: relative;
    z-index: 1;
    padding: 4px 16px;
    border-radius: 30px; }
  .chat-conversation .chat-day-title:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #343747;
    top: 16px; }
  .chat-conversation .chat-day-title .badge {
    font-size: 12px; }

.chat-conversation .conversation-list {
  margin-bottom: 24px;
  position: relative; }
  .chat-conversation .conversation-list .ctext-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px; }
  .chat-conversation .conversation-list .ctext-wrap-content {
    padding: 12px 20px;
    background-color: rgba(91, 115, 232, 0.1);
    border-radius: 0px 8px 8px 8px;
    color: #9699a8;
    position: relative;
    margin-left: 16px; }
    .chat-conversation .conversation-list .ctext-wrap-content:before {
      content: "";
      position: absolute;
      border: 5px solid transparent;
      border-right-color: rgba(91, 115, 232, 0.1);
      border-top-color: rgba(91, 115, 232, 0.1);
      left: -10px;
      top: 0; }
  .chat-conversation .conversation-list .conversation-name {
    margin-bottom: 4px; }
  .chat-conversation .conversation-list .dropdown .dropdown-toggle {
    font-size: 18px;
    padding: 4px;
    color: #c3cbe4; }
    @media (max-width: 575.98px) {
      .chat-conversation .conversation-list .dropdown .dropdown-toggle {
        display: none; } }
  .chat-conversation .conversation-list .chat-time {
    font-size: 12px;
    margin-top: 4px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5); }
  .chat-conversation .conversation-list .message-img {
    border-radius: .2rem;
    position: relative; }
    .chat-conversation .conversation-list .message-img .message-img-list {
      position: relative; }
    .chat-conversation .conversation-list .message-img img {
      max-width: 140px; }

.chat-conversation .right .conversation-list {
  float: right;
  text-align: right; }
  .chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #343747;
    text-align: right;
    border-radius: 8px 0px 8px 8px;
    margin-left: 0;
    margin-right: 16px; }
    .chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content:before {
      border: 5px solid transparent;
      border-top-color: #343747;
      border-left-color: #343747;
      left: auto;
      right: -10px; }
  .chat-conversation .right .conversation-list .dropdown {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

.chat-input-section {
  border-top: 1px solid #343747; }

.chat-input {
  border-radius: 30px;
  background-color: #343747 !important;
  border-color: #343747 !important; }

@media (max-width: 575.98px) {
  .chat-send {
    min-width: auto; } }

.counter-number {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .counter-number span {
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding-top: 5px; }

.coming-box {
  width: 25%; }

/************** Horizontal timeline **************/
.hori-timeline .events .event-list {
  text-align: center;
  display: block; }
  .hori-timeline .events .event-list::after {
    content: "\e858";
    font-family: "unicons-line";
    display: block;
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    margin: 0px auto;
    color: #9295a4;
    font-size: 24px; }
  .hori-timeline .events .event-list:before {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    border-radius: 50%;
    background-color: #343747; }
  .hori-timeline .events .event-list .event-date {
    display: inline-block;
    position: relative;
    border-radius: 4px;
    background-color: rgba(91, 115, 232, 0.2);
    padding: 2px 12px;
    margin-bottom: 48px; }

/************** vertical timeline **************/
.verti-timeline {
  padding-left: 100px; }
  .verti-timeline .event-list {
    border-left: 3px dashed #343747;
    position: relative;
    padding: 0px 0px 30px 30px; }
    .verti-timeline .event-list:after {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      left: -6px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #f07e0a;
      background-color: #2b2e3b; }
    .verti-timeline .event-list .event-date {
      display: inline-block;
      border-radius: 4px;
      background-color: rgba(91, 115, 232, 0.2);
      color: #f07e0a;
      padding: 2px 12px;
      position: absolute;
      left: -102px; }
    .verti-timeline .event-list:last-child {
      padding-bottom: 0; }

.faq-nav-tabs .nav-link {
  margin-bottom: 8px;
  background-color: #343747;
  padding: 8px 16px; }
  .faq-nav-tabs .nav-link .nav-icon {
    font-size: 24px;
    vertical-align: middle; }

.pricing-box {
  max-width: 388px;
  margin: 0px auto 20px; }
  .pricing-box .plan-features li {
    padding: 7px 0px; }


/**

custom style

*/
a span.link_bt{
color: #000;
transition: all 200ms;
}
a:hover span.link_bt{
color: #f07e0a;
transition: all 200ms;
}
.link_bt i{
margin-right: 10px;
}
#sidebar-menu ul li a {
color: #7b8190;
}
.breadcrumb-item.active{
color: #f07e0a;
}
.page-item.active .page-link {
background-color: #f07e0a;
border-color: #f07e0a;
}
.progress {
background-color: #fff5eb;
}
h4.bread_first {
font-weight: 600;
font-size: 24px !important;
color: #f07e0a;
position: relative;
display: inline-block;
}
h4.bread_first::before{
position:absolute;
content: "";
width: 30%;
height: 4px;
background:#f07e0a;
bottom: -17px;
left: 0;
}
.bread_second{
margin-top: 40px;
}
.clear { clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; }

.card {
border-bottom: 4px solid #f07e0a;
}
.page-link {
color: #f07e0a;
}
.select2-container--default .select2-selection--single {
padding: 17px 0px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {

margin-top: -14px;
}
.select2-container--default .select2-selection--single {
border: 1px solid #ced4da;
}
.text-gray   { color:#777;}
.text-gray-2 { color:#aaa;}
.text-gray-3 { color:#ccc;}

.no-padding {
    padding:0px;
}
.bg-gray {background:#aaa;}
/*.table thead,
.table tfoot,
.table thead tr,
.table tfoot tr,
.table thead tr th,
.table thead tr th.no-sort,
.table tfoot tr th {
    background: #f07e0a; color: white; box-shadow:0px 6px 6px #f1b44c;
}

.table tbody tr td {
    border-bottom: 1px dotted #e7651a;
}

.table tbody tr:hover {
    background: #f1b44c; color:#000; font-weight: 400; box-shadow:inset 0px 0px 6px #e7651a;
}
*/
.stat-bloc-icon {
    position:relative; top: 16px;
}
.stat-bloc-shadow {
    box-shadow: 4px 4px 6px #e7651a;
}
.stat-bloc-shadow:hover, .bg-light-gradiant:hover, .bg-light-2-gradiant:hover, .bg-light-3-gradiant:hover {
box-shadow: 4px 8px 16px #e7651a;
}

.chart-card:hover {
    box-shadow: 0px 0px 6px #e7651a;
}

.text-black {color: #000;}
.bg-black {background: #000;}
.text-white {color: #000;}
.login_datarium.card {
  box-shadow:0px 0px 2px #f07e0a;
}
.login_datarium.card:hover {
    box-shadow:1px 4px 22px #f07e0a;
  }
.login_datarium.card {
    background: linear-gradient(270deg, #f9e8dd, #fbfbfb, #f5f7f7, #ecc395);
    background-size: 800% 800%;

    -webkit-animation: HcartBG 30s ease infinite;
    -moz-animation: HcartBG 30s ease infinite;
    animation: HcartBG 30s ease infinite;
}


/*
.authentication-bg {
    background-color: rgb(255 245 235);
  }
  .site {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.main_content{
    -webkit-box-flex: 1;
    flex-grow: 1;
  }*/
  .inner_main {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -200;
    width: 100%;
    height: 100%;
  }
.img_backsite {
    position: absolute;
    top: -130px;
    left: 50%;
    width: 2100px;
    height: auto;
    transform: translateX(-50%);
  }

.item-checked {
    background: #2c1218; color:#eee;
}
.one-fieldset {
    border-radius: 4px; border:1px solid #e7651a; border-bottom: 4px solid #e7651a;
}
.one-fieldset label {
    border-radius: 4px; border:1px solid #e7651a; border-bottom: 4px solid #e7651a;
}

.bg-light-gradiant {
    background: linear-gradient(248deg, #fbf9f7, #201102, #ffffff);
    background-size: 600% 600%;

    -webkit-animation: MoveBG 30s ease infinite;
    -moz-animation: MoveBG 30s ease infinite;
    -o-animation: MoveBG 30s ease infinite;
    animation: MoveBG 30s ease infinite;
}
.text-strong {
    font-weight: 800;
}
.text-secondary {
    color:rgb(175, 87, 4);
}
@-webkit-keyframes MoveBG {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes MoveBG {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-o-keyframes MoveBG {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes MoveBG {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}

.bg-light-2-gradiant {
    background: linear-gradient(270deg, #f2f2f2, #361b05, #fffcf9);
    background-size: 600% 600%;

    -webkit-animation: GrabBG 30s ease infinite;
    -moz-animation: GrabBG 30s ease infinite;
    -o-animation: GrabBG 30s ease infinite;
    animation: GrabBG 30s ease infinite;
}

@-webkit-keyframes GrabBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GrabBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes GrabBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GrabBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.bg-light-3-gradiant {
    background: linear-gradient(270deg, #f2f2f2, #361b05, #fffcf9);
    background-size: 600% 600%;

    -webkit-animation: FirdBG 30s ease infinite;
    -moz-animation: FirdBG 30s ease infinite;
    -o-animation: FirdBG 30s ease infinite;
    animation: FirdBG 30s ease infinite;
}

@-webkit-keyframes FirdBG {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}
@-moz-keyframes FirdBG {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}
@-o-keyframes FirdBG {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}
@keyframes FirdBG {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}


.stat-light-shadow {
    background: linear-gradient(270deg, #f9e8dd, #fbfbfb, #f5f7f7, #ecc395);
    background-size: 800% 800%;

    -webkit-animation: DarkChartBG 30s ease infinite;
    -moz-animation: DarkChartBG 30s ease infinite;
    animation: DarkChartBG 30s ease infinite;
}

@-webkit-keyframes DarkChartBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes DarkChartBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes DarkChartBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/*
.bloc-highlight {
    text-align: left;
    border-radius: 3px;
    text-decoration: none;
    font-family: system-ui;
    font-size: 16px;
    text-transform: none;
    color: #fff !important;
    background-image: linear-gradient(-45deg, #f07e0a 0, #f07e0a 100%);
    box-shadow: 0 3px 13px 0 rgba(14, 9, 73, 0.2),
    0 11px 21px 0 rgba(255, 166, 220, 0.004);
}
*/

.bloc-highlight {
    background: linear-gradient(270deg, #672e07, #270f06, #000000, #1e0c04);
    background-size: 800% 800%;

    -webkit-animation: STBlockBG 30s ease infinite;
    -moz-animation: STBlockBG 30s ease infinite;
    animation: STBlockBG 30s ease infinite;
}

@-webkit-keyframes STBlockBG {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}
@-moz-keyframes STBlockBG {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}
@keyframes STBlockBG {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}


.special-ico {
    background: linear-gradient(270deg, #672e07, #270f06, #000000, #1e0c04);
    background-size: 800% 800%;

    -webkit-animation: specialBG 30s ease infinite;
    -moz-animation: specialBG 30s ease infinite;
    animation: specialBG 30s ease infinite;
}

@-webkit-keyframes specialBG {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}
@-moz-keyframes specialBG {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}
@keyframes specialBG {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}

/*.mfp-container, .mfp-s-ready, .mfp-image-holder, .mfp-wrap *,  .mfp-container * {z-index: 1000001;}*/
/*body {

    background: #fff url(./assets/images/dots.png) top center;

    background-size: contain;

    background-repeat: no-repeat;

 }*/
